---
import ButtonSec from "../assets/ButtonSec.jsx";
import { Image } from "astro:assets";

// Imports de imagem otimizadas
import CaseDm from "@/assets/images/cases/case-dm.png";
import CaseOdonto from "@/assets/images/cases/case-odontolab.png";
import CasePlurar from "@/assets/images/cases/case-plurar.png";
import CaseSiteDm from "@/assets/images/cases/case-site-dm.png";
import CaseSitePlurar from "@/assets/images/cases/case-site-plurar.png";
import CaseTradeline from "@/assets/images/cases/case-tradeline.png";
---

<section>
  <div class="container max-w-7xl w-full mx-auto p-4 py-20">
    <div class="cases h-fit flex flex-col">
      <div
        class="flex flex-row justify-between items-center sticky top-10 z-20 bg-black p-2"
      >
        <h2 class="font-display text-5xl text-center text-white">Cases</h2>
        <ButtonSec title="Ver Todos" url="/cases" />
      </div>
      <div class="h-svh flex items-center justify-center flex-col sticky top-0">
        <div class="case bg-[#060608]">
          <Image
            inferSize={true}
            class="rounded-sm"
            src={CaseDm}
            alt="Identidade Visual DM Corretora de Seguros"
          />
          <div
            class="content text-white flex flex-row justify-between items-end gap-4 p-4 mt-2 w-full"
          >
            <h3 class="font-display text-3xl leading-none">DM Corretora</h3>
            <p class="font-light">Desenvolvimento de Identidade Visual</p>
          </div>
        </div>
      </div>
      <div class="h-svh flex items-center justify-center flex-col sticky top-0">
        <div class="case bg-[#060608]">
          <Image
            inferSize={true}
            class="rounded-sm"
            src={CaseOdonto}
            alt="Criação de Artes para Odonto Imagem Lab"
          />
          <div
            class="content text-white flex flex-row justify-between items-end gap-4 p-4 mt-2 w-full"
          >
            <h3 class="font-display text-3xl leading-none">
              Odonto Imagem Lab
            </h3>
            <p class="font-light">Social Media</p>
          </div>
        </div>
      </div>
      <div class="h-svh flex items-center justify-center flex-col sticky top-0">
        <div class="case bg-[#060608]">
          <Image
            inferSize={true}
            class="rounded-sm"
            src={CasePlurar}
            alt="Identidade Visual Plurar"
          />
          <div
            class="content text-white flex flex-row justify-between items-end gap-4 p-4 mt-2 w-full"
          >
            <h3 class="font-display text-3xl leading-none">Plurar Imóveis</h3>
            <p class="font-light">Criação de Identidade Visual</p>
          </div>
        </div>
      </div>
      <div class="h-svh flex items-center justify-center flex-col sticky top-0">
        <div class="case bg-[#060608]">
          <Image
            inferSize={true}
            class="rounded-sm"
            src={CaseSiteDm}
            alt="Desenvolvimento de Landing Page DM Corretora de Seguros"
          />
          <div
            class="content text-white flex flex-row justify-between items-end gap-4 p-4 mt-2 w-full"
          >
            <h3 class="font-display text-3xl leading-none">DM Corretora</h3>
            <p class="font-light">Desenvolvimento de Landing Page</p>
          </div>
        </div>
      </div>
      <div class="h-svh flex items-center justify-center flex-col sticky top-0">
        <div class="case bg-[#060608]">
          <Image
            inferSize={true}
            class="rounded-sm"
            src={CaseSitePlurar}
            alt="Portal Imobiliário Plurar Corretora de Imóveis"
          />
          <div
            class="content text-white flex flex-row justify-between items-end gap-4 p-4 mt-2 w-full"
          >
            <h3 class="font-display text-3xl leading-none">Plurar Imóveis</h3>
            <p class="font-light">Desenvolvimento de Landing Page</p>
          </div>
        </div>
      </div>
      <div class="h-svh flex items-center justify-center flex-col sticky top-0">
        <div class="case bg-[#060608]">
          <Image
            inferSize={true}
            class="rounded-sm"
            src={CaseTradeline}
            alt="Criação de Artes para Tradeline"
          />
          <div
            class="content text-white flex flex-row justify-between items-end gap-4 p-4 mt-2 w-full"
          >
            <h3 class="font-display text-3xl leading-none">Tradeline</h3>
            <p class="font-light">Social Media</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
